
<h2>New Task</h2>
<% form_for (@task) do |f| %>
   <% use_tinymce -%>

  <%= f.error_messages %>  
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => "mce-editor" %>
  </p>
  <p>
    <%= label :order, :title, "This task should be handled after task:" %>
    <%= f.select :order_id, Task.all.collect {|p| [ p.title, p.id ] }, :prompt => "Select..." %>
  </p>
  <p>
    <%= f.submit "Create" %> | <%= link_to 'Cancel', tasks_path %>
  </p>
<% end %>

<%= javascript_include_merged :task %>
<script type="text/javascript">
  Event.observe(window, 'load', function(e){
    $("task_title").focus();    
  });
</script>


