<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title><%= controller.action_name.capitalize %> task</title>
  <%= stylesheet_link_tag 'error' %>
  <%= yield :css_index_task%>
  
  <%= javascript_include_tag "prototype" %>
  <%= yield :tinymce %>
  <%= javascript_include_tag "scriptaculous" %> 
  <%= javascript_include_tag "effects" %> 
  <%= javascript_include_tag "controls" %>
  <%= yield :tinymce_init %> 
</head>
<body>
<%= link_to 'Home page', home_path %> 
<p style="color: green"><%= flash[:notice] %></p>
  <%= yield  %>
</body>
</html>
